In [ ]:
#here we are using a MACHINE LEARNING ALGORITHM TO TRAIN OUR GIVEN DATASET BY USING KNN ALGORITHM.

In [ ]:

import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
#converting pkl file to a list

In [ ]:
with open('train_image.pkl', 'rb') as f:
    train_set = pickle.load(f)
    
with open('train_label.pkl', 'rb') as f:
    train_labels= pickle.load(f)
with open('test_image.pkl', 'rb') as f:
    test_set= pickle.load(f)

In [ ]:
train_set

In [ ]:
#USING KNN NEAREST NEIBHOUR MACHONE LEARNING ALGO TO PREDICT THE LABELS.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5,p=2)
classifier.fit(train_set,train_labels)
y_predict=classifier.predict(test_set)

In [12]:
#getting predicted labels of given test_set datas.

In [14]:
y_predict

array([0, 0, 0, ..., 6, 6, 6])

In [7]:
print(y_predict)

[0 0 0 ... 6 6 6]

In [13]:
y_final=classifier.predict(test_set)

In [14]:
f=[]
for i in range(2000):
    f.append(i)

In [18]:
#making a dataframe for converting our test_set labels to a table view or csv file

In [33]:
d=pd.DataFrame()

In [34]:
d['TEST_images_index']=f

In [35]:
d['Labels']=y_predict

In [36]:
#creating a csv format file with above data.

In [38]:
d.to_csv('info.csv', encoding='utf-8', index=False)

In [37]:
d

      TEST_images_index  Labels
0                     0       0
1                     1       0
2                     2       0
3                     3       0
4                     4       0
5                     5       0
6                     6       0
7                     7       0
8                     8       0
9                     9       3
10                   10       0
11                   11       0
12                   12       0
13                   13       0
14                   14       0
15                   15       0
16                   16       0
17                   17       6
18                   18       0
19                   19       0
20                   20       0
21                   21       0
22                   22       0
23                   23       6
24                   24       0
25                   25       0
26                   26       0
27                   27       0
28                   28       0
29                   29       0
...                 ...     ...
1970               1970       6
1971               1971       0
1972               1972       6
1973               1973       0
1974               1974       6
1975               1975       0
1976               1976       6
1977               1977       6
1978               1978       6
1979               1979       6
1980               1980       6
1981               1981       6
1982               1982       6
1983               1983       6
1984               1984       3
1985               1985       6
1986               1986       6
1987               1987       6
1988               1988       2
1989               1989       0
1990               1990       6
1991               1991       0
1992               1992       6
1993               1993       6
1994               1994       6
1995               1995       6
1996               1996       6
1997               1997       6
1998               1998       6
1999               1999       6

[2000 rows x 2 columns]